@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", "Helvetica";
  box-sizing: border-box;
}

:root {
  --color-light: #ffa69e;
  --color-dark: #ff686b;
}

button,
input {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 150ms;
}

button:hover {
  opacity: 0.8;
}

.click {
  transition: scale 150ms;
}

.click:hover {
  scale: 1.1;
}

/* sign */

.sign__container {
  position: relative;
  height: 100vh;
  background-color: var(--color-light);
}

.sign {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 16px;
  background-color: #f8f8f8;
  border-radius: 16px;
}

.sign__title {
  padding: 4px;
  color: var(--color-dark);
  font-size: 48px;
}

.sign__logo {
  padding: 4px;
  font-size: 20px;
}

.sign__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sign__box {
  padding: 6px;
}

.sign__input {
  margin: 2px 0;
  padding: 8px;
  width: 240px;
  border: none;
  border-bottom: 2px solid #d2d2d2;
  background-color: #f8f8f8;
  font-size: 16px;
}

.sign__input:hover {
  border-bottom-color: var(--color-light);
}

.sign__input:focus {
  border-bottom-color: var(--color-dark);
}

.sign__error {
  font-size: 12px;
  color: #ff3333;
}

.sign__avatar {
  display: none;
}

.sign__label {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  width: 100%;
}

.sign__attach {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 0;
  color: var(--color-light);
}

.sign__icon {
  height: 32px;
  width: 32px;
  cursor: pointer;
}

.sign__add {
  font-size: 14px;
  cursor: pointer;
}

.sign__file {
  padding: 4px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 100ms;
}

.sign__file:hover {
  background-color: #f2f2f2;
}

.sign__submit {
  margin: 8px;
  padding: 8px;
  width: 240px;
  background-color: var(--color-dark);
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 500;
}

.sign__para {
  padding: 8px;
  font-size: 12px;
  color: #888888;
}

.sign__sign {
  color: var(--color-dark);
  text-decoration: none;
}

.sign__sign:hover {
  text-decoration: underline;
}

.sign__sign:active {
  color: var(--color-light);
}

/* home */

.home__container {
  position: relative;
  height: 100vh;
  background-color: var(--color-light);
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  height: 80%;
  width: 65%;
  border-radius: 24px;
  overflow: hidden;
}

/* sidebar */

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-dark);
}

.sidebar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  height: 72px;
  background-blend-mode: overlay;
  background-image: linear-gradient(#666666, #666666);
  background-color: var(--color-dark);
}

.sidebar__logo {
  padding: 8px;
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 400;
}

.sidebar__profile {
  display: flex;
  align-items: center;
}

.sidebar__avatar {
  margin: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.sidebar__username {
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.sidebar__search {
  border-bottom: 0.2px solid #f8f8f844;
}

.sidebar__input {
  padding: 16px;
  width: 100%;
  color: #f8f8f8;
}

.sidebar__input::placeholder {
  color: #f8f8f8;
}

.sidebar__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
}

.sidebar__signout {
  margin: 0 16px;
  padding: 8px 16px;
  background-blend-mode: overlay;
  background-image: linear-gradient(#aaaaaa, #aaaaaa);
  background-color: var(--color-dark);
  color: #f8f8f8;
  font-size: 12px;
}

/* users */

.user {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.user:hover {
  background-blend-mode: overlay;
  background-image: linear-gradient(#666666, #666666);
  background-color: var(--color-dark);
}

.user__avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.user__info {
  display: flex;
  flex-direction: column;
  padding: 8px;
  color: #f8f8f8;
}

.user__username {
  font-size: 18px;
}

.user__message {
  font-size: 14px;
}

/* slider */

.slider {
  -webkit-appearance: none;
  appearance: none;
  margin: 16px;
  height: 16px;
  background: #f8f8f8;
  border-radius: 8px;
  opacity: 0.8;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-light);
  cursor: pointer;
}

/* chat */

.chat {
  flex: 2;
}

.chat__info {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 72px;
  background-blend-mode: overlay;
  background-image: linear-gradient(#aaaaaa, #aaaaaa);
  background-color: var(--color-dark);
}

.chat__username {
  color: #f8f8f8;
}

.chat__input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 56px;
  background-color: #f8f8f8;
}

.chat__text {
  height: 56px;
  width: 100%;
  padding: 0 4px;
  color: #2f2d52;
  font-size: 16px;
}

.chat__text::placeholder {
  color: #dddddd;
}

.chat__image {
  display: none;
}

.chat__options {
  display: flex;
  align-items: center;
}

.chat__attach {
  padding: 4px;
  height: 32px;
  width: 32px;
  color: #888888;
  cursor: pointer;
}

.chat__send {
  margin: 0 8px 0 16px;
  padding: 8px 16px;
  color: #f8f8f8;
  background-blend-mode: overlay;
  background-image: linear-gradient(#dddddd, #dddddd);
  background-color: var(--color-dark);
}

.chat__send:hover {
  opacity: 0.8;
}

/* message */

.chat__messages {
  padding: 8px 12px 8px 8px;
  height: calc(100% - 128px);
  background-blend-mode: overlay;
  background-image: linear-gradient(#bbbbbb, #bbbbbb);
  background-color: var(--color-light);
  overflow-y: scroll;
}

.chat__messages::-webkit-scrollbar {
  width: 12px;
}

.chat__messages::-webkit-scrollbar-track {
  background-color: transparent;
}

.chat__messages::-webkit-scrollbar-thumb {
  background-color: var(--color-light);
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: padding-box;
}

.chat__messages::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-dark);
}

.message {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 8px;
}

.message__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message__avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.message__time {
  font-size: 14px;
  font-weight: 200;
}

.message__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  max-width: 80%;
}

.message__text {
  background-color: #f8f8f8;
  padding: 8px 16px;
  border-radius: 0 8px 8px 8px;
}

.message__image {
  width: 50%;
  border-radius: 16px;
}

.my {
  flex-direction: row-reverse;
}

.my .message__content {
  align-items: flex-end;
}

.my .message__text {
  border-radius: 8px 0 8px 8px;
  background-color: var(--color-light);
  color: #f8f8f8;
}