@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", "Helvetica";
  box-sizing: border-box;
}

:root {
  --color-light: #d3bff2;
  --color-dark: #665580;
}

button,
input {
  border: none;
  background-color: transparent;
}

button:hover,
input:hover {
  cursor: pointer;
}

button:focus,
input:focus {
  outline: none;
  outline-color: transparent;
}

/* sign */

.sign__container {
  position: relative;
  height: 100vh;
  background-color: var(--color-light);
}

.sign {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  padding: 16px;
  background-color: #f8f8f8;
  border-radius: 16px;
  /* box-shadow: 0 0 2px 2px #00000022; */
}

.sign__title {
  padding: 4px;
  color: #665580;
  font-size: 48px;
}

.sign__logo {
  padding: 4px;
  font-size: 20px;
}

.sign__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign__input {
  margin: 8px;
  padding: 8px;
  width: 240px;
  border: none;
  border-bottom: 2px solid #d2d2d2;
  background-color: #f8f8f8;
  font-size: 16px;
}

.sign__input:hover {
  border-bottom-color: var(--color-light);
}

.sign__input:focus {
  border-bottom-color: var(--color-dark);
}

.sign__submit {
  margin: 8px;
  padding: 8px;
  width: 240px;
  background-color: var(--color-dark);
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 500;
}

.sign__para {
  padding: 8px;
  font-size: 12px;
  color: #888888;
}

.sign__signin {
  text-decoration: none;
  color: #888888;
}

.sign__signin:hover {
  text-decoration: underline;
}

/* home */

.home__container {
  position: relative;
  height: 100vh;
  background-color: var(--color-light);
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  height: 80%;
  width: 65%;
  border-radius: 24px;
  overflow: hidden;
}

/* sidebar */

.sidebar {
  flex: 1;
  background-color: var(--color-dark);
}

.sidebar__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  height: 72px;
  background-blend-mode: multiply;
  background-image: linear-gradient(#aaaaaa, #aaaaaa);
  background-color: var(--color-dark);
}

.sidebar__logo {
  padding: 8px;
  color: #f8f8f8;
  font-size: 16px;
  font-weight: 400;
}

.sidebar__profile {
  display: flex;
  align-items: center;
  padding: 8px;
}

.sidebar__avatar {
  margin: 4px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.sidebar__username {
  padding: 8px;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.sidebar__search {
  padding: 16px;
  width: 100%;
  color: #f8f8f8;
  border-bottom: 0.2px solid #f8f8f844;
}

.sidebar__search::placeholder {
  color: #f8f8f8;
}

/* users */

.user {
  display: flex;
  align-items: center;
  padding: 8px;
}

.user__avatar {
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.user__info {
  display: flex;
  flex-direction: column;
  padding: 8px;
  color: #f8f8f8;
}

.user__username {
  font-size: 18px;
}

.user__message {
  font-size: 14px;
}

/* chat */

.chat {
  flex: 2;
}

.chat__info {
  display: flex;
  align-items: center;
  padding: 16px;
  height: 72px;
  background-blend-mode: multiply;
  background-image: linear-gradient(#ffffff, #ffffff);
  background-color: var(--color-dark);
}

.chat__username {
  color: #f8f8f8;
}

.chat__messages {
  width: 100%;
  height: 75%;
  background-color: #dddddd;
}